@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">IIS Tracker</h1>

    <div>
        <canvas id="webgl-canvas" width="800" height="600">
            Your browser does not support HTML5
        </canvas>
        <br />
        <i>Demo is above this text</i>
    </div>
    <script>main();</script>
</div>

@section JavaScript {
    <script type="text/javascript" src="~/js/webgl/main.js"></script>
    <script type="text/javascript" src="~/js/webgl/RenderingEngine/index.js"></script>
    <script type="text/javascript" src="~/js/webgl/ShaderTools/index.js"></script>
    <script type="text/javascript" src="~/js/webgl/shaders/VertexShader.js"></script>
    <script type="text/javascript" src="~/js/webgl/shaders/FragmentShader.js"></script>

    <script type="text/javascript" src="~/js/glMatrix/gl-matrix.js"></script>
}
